<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="training7_adminhtml" frontName="training7_adminhtml">
            <module name="Training7_Adminhtml" before="Magento_Backend"/>
        </route>
    </router>
</config>
