<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="training7_adminhtml_listening_data_source" xsi:type="string">VendorCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="VendorCollection" type="Training7\Adminhtml\Ui\DataProvider\Vendor\Listing\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">training4_vendor</argument>
            <argument name="resourceModel" xsi:type="string">Training5\Vendor\Model\ResourceModel\Vendor</argument>
        </arguments>
    </virtualType>
</config>
